header,
nav,
main,
footer,
ul {
	/* border: 3px solid red; */
}

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-head,
#hero {
	height: 100vh;
}


nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	row-gap: 20px;
}

nav ul {
	text-align: center;
}

nav li {
	/* background-color: #ECFF4D; */
	padding: 15px 30px;
	margin: 0px 40px;
	/* border: 1px solid black; */
	display: inline-block;
	font-size: 24px;

}

nav {
	background-color: #00274c;
}

.home-head nav {
	background-color: transparent;
}

nav li a {
	color: white;
	text-decoration: none;
}

nav li a:hover {
	border-bottom: 3px solid #FFCB05;
}

.active {
	border-top: 3px solid #FFCB05;
}

.active a {
	color: #FFCB05;
}

footer {
	background-color: #00274c;
	padding: 30px;
	display: flex;
	justify-content: flex-end;
	gap: 30px;
}

footer p {
	color: white;
	font-size: 22px;
}

footer img {
	height: 22px;
}

.track-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	background-image: url("../images/running-track-top-view-sport-stadium-vector-33171948.jpg");
	background-size: cover;
	height: calc(100vw * 0.69);


}

.track-grid a:not(:nth-child(5)):hover {
	background-color: rgba(255, 230, 0, 0.2);
}

.hero {
	background-color: #00274c;
	background: linear-gradient(135deg, rgba(0, 39, 76, 1) 0%, rgba(0, 39, 76, 0.9) 40%, rgba(0, 39, 76, 1) 80%);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	height: 600px;
}

#hero {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	background: linear-gradient(rgba(0, 10, 72, 0.8), rgba(107, 110, 20, 0.8)), url("../images/hero.JPG");
	background-size: cover;
	background-position: center;
	z-index: -1;
	align-content: flex-end;
}

h1 {
	margin-left: 30px;
	color: white;
	font-size: 60px;
	margin-bottom: 50px;
}

.skip {
	background: white;
	left: 20px;
	padding: 6px;
	position: absolute;
	top: -40px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
}

.skip:focus {
	top: 20px;
	color: black;
	text-decoration-style: solid;
}

*:focus {
	border: 2px solid black;
}

.promo-image {
	height: 100%;
	float: right;
	display: none;
}

.oli-gallery img,
.thomas-gallery img {
	width: 100%;
}

.oli-gallery,
.thomas-gallery {
	display: grid;
	grid-template-columns: 50% 50%;
}

.oli-gallery img:nth-child(3n) {
	grid-column: 1 / -1;
}

.thomas-gallery img:first-child {
	grid-row: span 2;
}

.thomas-gallery img:nth-child(4) {
	grid-area: 3 / 2;
	grid-row: span 2;
}

.thomas-gallery img:nth-child(6) {
	grid-row: span 2;
}

.thomas-gallery img:nth-child(9) {
	grid-area: 3 / 1;
}

.thomas-gallery img:last-child {
	display: none;
}

h2 {
	font-size: 48px;
	text-align: center;
}

.home-content {
	padding: 50px;
}

.two-options {
	padding: 50px;
	display: flex;
	justify-content: space-around;
}

.two-options a {
	width: 45%;
	border: solid 4px #FFFFFF;
}

.two-options a:hover {
	border-color: #FFCB05;
}

.two-options img {
	width: 100%;
}

@media screen and (min-width: 950px) {
	h1 {
		font-size: 80px;
	}

	.two-options a {
		width: 35%;
	}

	#hero {
		align-content: inherit;
	}

	nav {
		justify-content: space-between;
	}

	.promo-image {
		display: block;
	}

	.oli-gallery {
		grid-template-columns: 25% 25% 25% 25%;
	}

	.oli-gallery img:nth-child(3n) {
		grid-column: inherit;
	}

	.oli-gallery img:first-child,
	.oli-gallery img:nth-child(8) {
		grid-column: span 2;
		grid-row: span 2;
	}

	.oli-gallery img:last-child {
		display: none;
	}

	.thomas-gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.thomas-gallery img:nth-child(6) {
		grid-area: 3 / 3;
		grid-row: span 2;
	}

	.thomas-gallery img:nth-child(7) {
		grid-area: 3 / 1;
	}

	.thomas-gallery img:nth-child(9) {
		grid-area: auto;
	}
}

@media screen and (min-width: 1200px) {
	.oli-gallery {
		grid-template-columns: 20% 20% 20% 20% 20%;
	}

	.oli-gallery img:nth-child(6) {
		grid-column: span 2;
		grid-row: span 2;
	}

	.oli-gallery img:last-child,
	.thomas-gallery img:last-child {
		display: block;
	}

	.thomas-gallery {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.thomas-gallery img:nth-child(3) {
		grid-row: span 2;
		grid-column: span 2;
	}

	.thomas-gallery img:nth-child(7) {
		grid-area: auto;
	}
}