header,
nav,
main,
footer,
ul {
	border: 3px solid red;
	margin: 20px 0;
}


nav {
	display: flex;
	justify-content: space-between;
}

nav li {
	background-color: #ECFF4D;
	padding: 15px 80px;
	border: 1px solid black;
	display: inline-block;
	font-size: 24px;
}

div {
	padding: 10px;
	margin: 20px;
	border: 2px solid rgb(0, 4, 255);
}

#grid {
	display: grid;
}

#grid div {
	width: 100%;
}